/*Prototipo*/
*{
    margin: 0;
    padding: 0;
}

/*General*/
a{
    text-decoration: none;
    color: white;
}

/*Encabezado*/
#encabezado{
    width: 100%;
    height: 80vh;
    background-image: url("../img/main-background.jpg");
    background-attachment: fixed;
    background-size: cover;
    
}
    /*menu de navegación*/
#encabezado>nav{
    width: auto;
    height: 10vh;
    background-color:rgba(133, 181, 204, 0.98);
    display: flex;
    font-size: 1.2vw;
}

.encabezado_caja{
    width: 33%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    letter-spacing: 0.5vw;
}

.encabezado_caja:last-child{
    cursor: pointer;
}
    /*capa de filtro y logo*/
#encabezado>div{
    width: 100%;
    height: 70vh;
    background-color: rgba(210, 218, 226,0.5);
    display: flex;
    justify-content: center;    
    position: relative;
}
    /*logo*/
.encabezado_caja_logo{
    width: 60%;
    height: auto;
}

.encabezado_caja_logo>div{
   width: auto;
   display: flex;
}

.encabezado_caja_logo>div:nth-child(1){
    height: 44vh;
    justify-content: center;
    align-items: center;
 }

 .encabezado_caja_logo>div:nth-child(1)>img{
    float: left;
    width: 40%;
 }

    /*boton de buscar y eslogan*/
 .encabezado_caja_logo>div:nth-child(2){
   height: 25vh;
   flex-direction: column;
   align-items: center;
   font-size: 1.2vw;
   letter-spacing: 0.4vw;
   color: rgb(2, 66, 185);
 }
 .encabezado_caja_logo>div:nth-child(2)>a{
    margin-top: 1vw;
    border-radius: 25px;
    padding: 0.8% 0%;
    width: 30%;
    text-align: center;
    text-decoration: none;
    font-size: 2vw;
    background-color: rgba(72, 219, 251,0.8);
    letter-spacing: 0.2vw;
    color: white;
    transition: 0.5s;
  }

/*FORMULARIO DE REGISTRO E INICIO DE SESIÓN INDEX*/
#index_formulario{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 85vh;
    border: inset 2px rgba(133, 181, 204, 0.98);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    letter-spacing: 0.4vw;
    display: none;
    overflow: hidden;
}

    /*Divisiones de cajas del formulario*/
.index_formulario_caja, .index_formulario_caja>div, .index_formulario_caja>form,
.index_formulario_fila, .index_formulario_caja:last-child>div, #index_formulario_recuperacion,
.index_formulario_fila:nth-child(6)>div{
    display: flex;
    width: 100%;
}

    /*1º Fila - Titulo y boton de cerrar*/
.index_formulario_caja:first-child{
    height: 15vh;
}

.index_formulario_caja:first-child>div{
    height: auto;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
}

.index_formulario_caja:first-child>div:first-child{
    width: 75%;
}
.index_formulario_caja:first-child>div:last-child{
    width: 25%;
    border: inset 1px rgba(133, 181, 204, 0.98);
    cursor: pointer;
    transition: 0.5s;
}

/*2º Fila - Formulario de Registro e Inicio de sesión*/
.index_formulario_caja:nth-child(2){
    height: 48vh;
}

#index_formulario_registro, #index_formulario_iniciar_sesion{
    width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    border: solid 1px rgba(210, 218, 226,0.5);
}

.index_formulario_fila{
    height: 15vh;
    justify-content: center;
    align-items: center;
    border: solid 1px rgba(210, 218, 226,0.5);
}

.index_formulario_fila>input{
    border-radius: 10px;
    padding: 1% 0%;
    text-align: center;
    font-weight: bold;
    font-size: 1.1vw;
}

.index_formulario_fila>input[type="text"], .index_formulario_fila>input[type="password"], .index_formulario_fila>input[type="email"]{
    width: 80%;
}

.index_formulario_fila>input[type="submit"]{
    width: 50%;
    background-color: rgba(210, 218, 226,0.5);
    color: white;
    cursor: pointer;
}

    /*Términos y condiciones*/

.index_formulario_fila:nth-child(6){
    justify-content: flex-start;
}

.index_formulario_fila:nth-child(6)>div{
    height: auto;
    justify-content: center;
}

.index_formulario_fila:nth-child(6)>div>a{
    color: cyan;
    letter-spacing: 0vw;
    font-weight: bold; 
    font-size: 1.1vw; 
}

/*3º Fila - Formulario de recuperación de contraseña*/
.index_formulario_caja:last-child{
    height: 20vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3vw;
}

#index_formulario_recuperacion{
    width: 100%;
    height: 0vh;
    overflow: hidden;
}

#index_formulario_recuperacion>div{
    border: inset 1px rgba(133, 181, 204, 0.98);
    width: 49%;
    height: auto;
    /*El contenido se ajusta al centro gracias a la clase que contiene
      la etiqueta*/
}

/*Sección Mensaje de Error*/
#seccion_busqueda_error, #seccion_busqueda_error>div{
    display: flex;
    justify-content: center;
}
#seccion_busqueda_error{
    width: 100%;
    height:16vh;
    padding: 1% 0%;
    background-image: linear-gradient(to bottom, rgba(133, 181, 204, 0.98), rgba(72, 219, 251,0.8));
    background-size: cover;
    overflow: hidden;
    overflow-y: scroll;
}

#seccion_busqueda_error>div{
    width: 80%;
    height:auto;
    border:outset 1px silver;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
}

#seccion_busqueda_error>div>h3{
   font-size: 1.5vw;
   letter-spacing: 0.3vw;
   color: white;
}


/*Seccion Localizacion*/
#seccion_localizacion{
    width: 100%;
    height: 35vh;
    display: flex;
}

#seccion_localizacion>div{
    height: 35vh;
}
    /*1ºcaja*/
#seccion_localizacion>div:nth-child(1){
    width: 79%;
    border: inset 2px rgba(210, 218, 226,0.5);
}

#seccion_localizacion>div:nth-child(1)>iframe{
   width: 100%;
   height:35vh;
}

    /*2ºcaja*/
#seccion_localizacion>div:nth-child(2){
    width: 39%;
    background-image: url("../img/localization-image.png");
    background-size: 100%, 100%;
    background-attachment: fixed;
   
}
/*Seccion Contacto*/
#seccion_contacto{
    width: 100%;
    height: 35vh;
    background: whitesmoke;
    display: flex;
}

#seccion_contacto>div{
    height: 35vh;
}
    /*1ºcaja*/
#seccion_contacto>div:nth-child(1){
    width: 39%;
    border: inset 2px rgba(210, 218, 226,0.5);
    background-image: url("../img/contact-image3.jpg");
    background-size: 100%, 100%;
    background-attachment: fixed;
}
    /*2ºcaja*/
#seccion_contacto>div:nth-child(2){
    width: 79%;
    border: inset 2px rgba(210, 218, 226,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#seccion_contacto>div:nth-child(2)>article{
    width: 53%;
    height:12vh;
    padding: 2% 5%;
    display: flex;
    align-items: center;
    color: rgb(2, 66, 185);
    font-weight: bold;
    letter-spacing: 0.2vw;
    font-size: 1.3vw;
}
#seccion_contacto>div:nth-child(2)>article>img{
    float: left;
    width: 10%;
}
#seccion_contacto>div:nth-child(2)>article>h3{
    margin-left: 5%;
}
/*pie de pagina*/
#pie_pagina{
    width: 100%;
    height: 10vh;
    background-color:rgba(133, 181, 204, 0.98);
    display: flex;
}

.pie_pagina_caja{
    width: 33%;
    height: auto;
}
    /*1º caja*/
.pie_pagina_caja:first-child{
    border-right: inset 1px rgba(210, 218, 226,1.0);
    display: flex; 
}
.pie_pagina_caja:first-child>article{
    width: 42.5%;
    height: 10vh;
    padding: 0% 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1vw;
    font-weight: bold;
    letter-spacing: 0.2vw;
    color: rgb(2, 66, 185);
}

.pie_pagina_caja:first-child>article:nth-child(2){
    width: 19.5%;
    font-weight: bold;
    color: rgb(2, 66, 185);
    
}
    /*2º caja*/
.pie_pagina_caja:nth-child(2){
    display: flex;
}
.pie_pagina_caja:nth-child(2)>article{
    width: 42.5%;
    height: 10vh;
    padding: 0% 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1vw;
    font-weight: bold;
    letter-spacing: 0.2vw;
    color: rgb(2, 66, 185);
}
.pie_pagina_caja:nth-child(2)>article:nth-child(2){
    width: 19.5%;
    color: rgb(2, 66, 185);
    
}
    /*3º caja*/
.pie_pagina_caja:last-child{
    border-left: outset 1px rgba(210, 218, 226,1.0);
    display: flex;
    justify-content: space-evenly;
}
.pie_pagina_caja:last-child>article{
    width: 19.5%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

    /*iconos del footer*/
.fa-facebook-square, .fa-linkedin{
    color: rgb(2, 66, 185);
}

.fa-twitter-square{
    color: rgba(16, 172, 132,1.0);
}

.fa-instagram{
    color: rgba(16, 172, 132,1.0);
}