<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información</title>
    <link rel="stylesheet" href="./css/faq.css">
    <link rel="stylesheet" href="./css/fonts.css">
    <link rel="stylesheet" href="./css/responsive/responsivefaq.css">
    <link rel="stylesheet" href="./css/efectosCSS/faqEffects.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <!--Encabezado-->
    <header id="encabezado">
        <nav>
            <div class="encabezado_caja">
                <a href="/">
                    <p>INICIO</p>
                </a>
            </div>
            <div class="encabezado_caja">
                <img src="/img/logo.png" alt="" srcset="">
            </div>
            <div class="encabezado_caja">
                <a href="/busqueda">
                    <p>BUSQUEDA</p>
                </a>
            </div>
        </nav>
    </header>
    <!--Términos y condiciones-->
    <section id="terminos">
        <div class="titulo">
            <h2>Términos y Condiciones</h2>
        </div>
        <div class="lista_terminos">
            <div class="cuerpo">
                <article>
                    <div><h4>Información facilitada por el usuario</h4></div>
                    <div class="term_button"><img class="term_unfold" src="./img/actions/desplegar.png"></div>
                </article>
                <div class="term_unfold_content">  
                        <p>La siguiente aplicación web ofrece al usuario un foro para buscar un centro educativo
                           que se ajusta a su perfil y criterios de búsqueda. Cuando el usuario se registra en este foro,
                           toda su información queda almacenada y será utilizada para fines valorativos, no comerciales.
                        </p>
                        <p>Se puede distribuir y transmitir toda la información de la app, pero no se podrá crear, copiar, modificar,
                           vender ni adaptar aplicaciones similares a la nuestra sin ninguna clase de acuerdo. Con todo esto, el
                           usuario acepta que Looklass es una aplicación solamente diseñada y exclusivamente pensada para buscar 
                           centros de enseñanza en FP.
                        </p>
                </div>
            </div>
            <div class="cuerpo">
                <article>
                    <div><h4>Requisitos relativos al usuario</h4></div>
                    <div class="term_button"><img class="term_unfold" src="./img/actions/desplegar.png"></div>
                </article>
                <div class="term_unfold_content">
                        <p>La aplicación web en cuestión y sus servicios 
                            se pueden aplicar tanto a los usuarios 
                            con capacidad legal para otorgar contratos según la legislación como los que no.</p>
                        <p>Por lo tanto esta aplicación está orientada y puede ser utilizada por toda clase de públicos.
                           Aunque su uso se recomienda a partir de la edad de 16 años, por ser la edad mínima para cursar FP. 
                        </p>
                </div>
            </div>
            <div class="cuerpo">
                <article>
                    <div><h4>Cuenta y Contraseña</h4></div>
                    <div class="term_button"><img class="term_unfold" src="./img/actions/desplegar.png"></div>
                </article>
                <div class="term_unfold_content">
                        <p>Cuando el usuario utiliza la aplicación web en cuestión, el indicado puede optar por abrir una cuenta,
                           (la cual es totalmente opcional), al hacerlo se le pedirá el nombre, apellido, correo electrónico, nombre de usuario y una
                           contraseña, nosotros garantizamos la seguridad de la cuenta, con su correspondiente control de seguridad,
                           pero es responsibilidad por parte del usuario:                        
                        </p>
                        <p>
                            1º Mantener la confidencialidad de los datos empleados.                
                         </p>
                         <p>
                            2º Actualizar las credenciales y comprobar el estado de la cuenta.                
                         </p>
                         <p>
                            3º Notificar a Looklass cualquier problema de acceso o vulneración de seguridad de la cuenta
                            como de la plataforma.                
                         </p>
                </div>
            </div>
            <div class="cuerpo">
                <article>
                    <div><h4>Utilización del sitio y obligaciones concretas</h4></div>
                    <div class="term_button"><img class="term_unfold" src="./img/actions/desplegar.png"></div>
                </article>
                <div class="term_unfold_content">
                        <p>El usuario deberá:</p>
                        <p>1º Únicamente usar la aplicación para buscar centros de enseñanza y recibir información profesional</p>
                        <p>2º Gestionar con su propio criterio que centros se ajustan más a sus exigencias, la decisión final la toma
                            el usuario, nosotros solamente ofrecemos un medio de información.
                        </p>
                        <p>3º Confiar y asumir el riesgo con contenidos e información ofrecidos por terceros</p>
                        <p>4º Mantener y utilizar solo la información necesaria que la aplicación exige, para evitar
                            situaciones peligrosas que afecten a la información.
                        </p>
                </div>
            </div>
            
    </section>
    <!--F.A.Q-->
    <section id="faq">
        <div class="titulo">
            <h2>F.A.Q - Preguntas Frecuentes</h2>
        </div>
        <div class="lista_terminos">
            <div class="cuerpo">
                <article>
                    <div><h4>¿El servicio es gratuito?</h4></div>
                    <div class="term_button"><img class="term_unfold" src="./img/actions/desplegar.png"></div>
                </article>
                <div class="term_unfold_content">
                        <p>Looklass es una aplicación pensada para resolver una necesidad de información, y como grupo de estudiantes
                           apasionados por la informática, hemos pensado en dejarla funcional de manera gratuita, no utilizaremos anuncios
                           ni ninguna clase de contenido abusivo.
                        </p>
                        <p>Sin embargo dado a que esta aplicación es gratuita y está realizada sin ánimo de lucro, y si el usuario de <em class="underscore">manera
                            opcional</em> quiere agradecer nuestro trabajo con una donación, su ingreso será más que bienvenido.
                        </p>
                        <p class="term_unfold_content_paypal">
                            <i class="fab fa-2x fa-cc-paypal"></i><em class="underscore">grouplooklassproject@looklass.es</em>
                        </p>
                </div>
            </div>
            <div class="cuerpo">
                <article>
                    <div><h4>¿Puedo valorar un centro sin registrarme?</h4></div>
                    <div class="term_button"><img class="term_unfold" src="./img/actions/desplegar.png"></div>
                </article>
                <div class="term_unfold_content">
                    <p>
                    La respuesta es no, y eso se debe a una sencilla razón, para evitar la inflación de las notas y visitas
                    de un link de un centro, por parte de usuarios poco responsables, y de esta manera nuestra información
                    gana calidad, ya que obtiene más precisión.
                    </p>
                    <p>
                    Gracias a esto, el número de visitas y la media de cada centro es el real, y no uno inventado ya sea
                    por motivos personales u otros.
                </p>
                </div>
            </div>
            
           
            </div>
        </div>
    </section>
    <!--Pie de pagina-->
    <footer id="pie_pagina">
        <div class="pie_pagina_caja">
            <article>
            <a href="/informacion#terminos"><p>Términos y condiciones</p></a>
            </article>
            <article>
                <p>&#8212;</p>
            </article>
            <article>
                <a href="/informacion#faq"><p>F.A.Q</p></a>
            </article>
        </div>
        <div class="pie_pagina_caja">
            <article>
                <p>© 2020</p>
            </article>
            <article>
                <p>&#8212;</p>
            </article>
            <article>
                <p>Grupo Looklass</p>
            </article>
        </div>
        <div class="pie_pagina_caja">
            <article>
                <i class="fab fa-2x fa-facebook-square"></i>
            </article>
            <article>
                <i class="fab fa-2x fa-twitter-square"></i>
            </article>
            <article>
                <i class="fab fa-2x fa-instagram"></i>
            </article>
            <article>
                <i class="fab fa-2x fa-linkedin"></i>
            </article>
        </div>
    </footer>
</body>
<script src="./js/informationextensions.js"></script>
</html>